* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  background-color: hsl(0, 0%, 89%);
}

#placeholder {
  margin: 3rem auto;
  width: 90vw;
  box-shadow: 0 5px 5px 1px rgb(170, 170, 170);
}

.sync,
.return,
.listContainer,
.drop-zone {
  display: flex;
}

.sync {
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  height: 6rem;
  background-color: white;
  padding: 1rem;
  margin: 0 0 2px 0;
}

.sync h1 {
  color: hsl(0, 0%, 38%);
}

.sync span,
.return span {
  color: gray;
  cursor: pointer;
}

.drop-zone span {
  color: gray;
  cursor: move;
}

.return {
  justify-content: space-between;
  align-items: center;
  background-color: white;
  min-width: 100%;
  padding: 1rem;
  margin: 0 0 2px 0;
  height: 6rem;
}

#add-to-list {
  width: 100%;
  height: 100%;
  border: none;
  font-style: italic;
  font-size: 2rem;
}

#list-container {
  flex-direction: column;
}

.inputs-check {
  width: 10rem;
}

.drop-zone {
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 2px 0;
  font-size: 2rem;
  background-color: white;
  padding: 1rem;
  height: 6rem;
}

.drop-zone input,
.drop-zone label {
  margin: 1rem 1rem 1rem 0;
}

.clear-all {
  min-width: 100%;
  height: 6rem;
  border: none;
  color: hsl(0, 0%, 71%);
  font-size: 1.5rem;
}

.dragging {
  opacity: 0.5;
}

.complete {
  text-decoration: line-through;
  color: rgb(158, 158, 158);
}

.remove {
  display: none;
  border-radius: 50%;
}

.remove:hover {
  background-color: hsl(106, 100%, 50%);
}
